################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/msd63a2025-d26c9af97596.json
